REDIS_URL=redis://localhost
BING_API_KEY=
CLOUDINARY_URL=''
GOOGLE_AUTH_CLIENT_ID=''
TMS_API_KEY=''
GRACENOTE_API_KEY=''
FRONT_END_URL=http://localhost:3000
API_HOST=https://tvchat-api.herokuapp.com
NEWS_API_HOST=https://tvchat-news-search.herokuapp.com
MAILGUN_SMTP_PORT=
MAILGUN_SMTP_SERVER=
MAILGUN_SMTP_LOGIN=
MAILGUN_SMTP_PASSWORD=
ALGOLIA_API_KEY=
OPEN_AI_API_KEY=
OPEN_AI_ORGANIZATION_ID=
BOT_USER_ID=
MONGODB_URI=
