REDIS_URL=redis://localhost
BING_API_KEY=
CLOUDINARY_URL=''
GOOGLE_AUTH_CLIENT_ID=''
TMS_API_KEY=''
FRONT_END_URL=http://localhost:3000
API_HOST=https://tvchat-api.herokuapp.com
NEWS_API_HOST=https://tvchat-news-search.herokuapp.com
